<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Relatório de horas trabalhadas</h1>
        </div><!-- /.col -->
        <div class="col-sm-6 text-right">
          <button class="btn btn-sm btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-calendar">
              <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
              <line x1="16" y1="2" x2="16" y2="6"></line>
              <line x1="8" y1="2" x2="8" y2="6"></line>
              <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            Opção
          </button>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content ml-2 mr-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card de exemplo 1</h3>
            </div>
            <div class="card-body">
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida dolor lectus, id aliquam lorem
                porttitor vel.
              </p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Card de exemplo 2</h3>
            </div>
            <div class="card-body">
              <p class="card-text">
                Sed dignissim, nisi id malesuada venenatis, ipsum velit laoreet nisi, eu iaculis sapien enim et
                mauris.
              </p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Card de exemplo 3</h3>
            </div>
            <div class="card-body">
              <p class="card-text">
                Nunc congue lectus tortor, ut tristique massa accumsan ut. Duis volutpat, sapien et laoreet
                consectetur, nisi sapien egestas dui, vel ultricies nunc ex vel neque.
              </p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->